<mat-toolbar class="nav">
    <span>Kanban</span>
</mat-toolbar>

<div class="board">
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
            <div class="board-column" *ngFor="let column of board.columns; let i = index">
                  <div class="column-title">
                    {{ column.name }}
                    <button mat-raised-button color="warn" (click)="remove(i)"><mat-icon>delete</mat-icon></button>
                  </div>
                        <div class="tasks-container"
                            cdkDropList
                            [cdkDropListData]="column.tasks"
                            (cdkDropListDropped)="droptask($event)">
                            <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                                {{ item }}
                            </div>
                      </div>
                      <label class="add-task">
                        <input type="text" (keydown.enter)="addTask(task.value, i)" (keydown.enter)="task.value=''" #task placeholder="Adicionar um cartão"/>
                        <mat-icon  (click)="addTask(task.value, i)" (click)="task.value=''">add</mat-icon>
                      </label>
              </div>

              <div class="board-column" >
                <div class="column-title">
                  Adicionar lista
                </div>
                <label class="add-task">
                  <input type="text" (keydown.enter)="addLista(column.value)" (keydown.enter)="column.value=''" #column placeholder="Insira o título da lista"/>
                  <mat-icon (click)="addLista(column.value)" (click)="column.value=''">add</mat-icon>
                </label>
                </div>
            </div>
      </div>
</div>